@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Varela+Round&display=swap');
* {
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-image: url('./img/bg2.png');
    background-size:cover;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    
}


label {
    border: none;
    height: 50px;
    width: 100px;
    margin: 30px 0;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
    

}

header {
    color: white;
    padding: 0 15px;
    font-size: 20px;

}
h1{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 2px;
    animation: 
    typing 4s ,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color:transparent;}
}

@keyframes typing {
    from { width:0 }
}


ul {

    list-style: none;
    position: absolute;
    float: right;
    left: 52%;
    margin: 0 10px;
    padding: 0 20px;
    width: 40%;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
    border-color: #1abc9c00;
    box-shadow: 2px 2px 5px gray;
    font-size: 15px;
    color: #000000;

}

article {

    background-color: #ffffff;
    margin: 10px 0;
    padding: 0 30px;
    margin-top: 30px;
    margin-left: 80px;
    width: 80vh;
    font-size: 20px;
    border-style: solid;
    border-radius: 15px;
    border-color: #fafafa00;
    box-shadow: 2px 2px 5px gray;
}

input {
    border: none;
    height: 25px;
    width: 100px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
    background: #451abc;
    color: #ffffff;
}

.int-ch {
    border: none;
    height: 20px;
    width: 95%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 1rem;
    outline: none;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
    background: #1abc9c00;
    color: #000000;
   
}


p {
    display: none;
}
.img-one{
    position: relative;
    left: 13vh;

}